# Ignore node_modules (will be installed inside the container)
node_modules

# Ignore build artifacts
.next
dist

# Ignore Bun-specific files
.bun

# Ignore local environment files
.env
.env.example
.env.local
.env.development
.env.production
.env.test

# Ignore log files
*.log

# Ignore cache directories
.cache
.turbo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode
.idea

# Ignore test and coverage directories
coverage
__tests__
*.spec.ts
*.test.ts

# Ignore unnecessary files
*.md
*.txt
LICENSE